.design {
  margin: 0 auto 166px auto;
}

.design__title_pink {
  font-family: "Poppins", "Arial", "sans-serif";
  font-size: 50px;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: #ff0080;
}

.design__title {
  font-family: "Poppins";
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin: 0 0 25px 0;
  padding: 0;
}

.design__description {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  max-width:719px;
  color:white;
  margin:0 auto 0 auto;
}

.design__description_pink {
    color:#ff0080;
}