.header {
    margin:87px 81px 64px 106px;
    background-color: #333333;
    display:flex;
    justify-content: space-between;
    max-width:1920px;
    position:relative;

}

.header__navbar {
    display:flex;
    justify-content: space-between;
    width:1156px;
}

.header__item {
    display:inline;
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin:0;
    padding: 0;
    color:white;
    z-index: 1;
    position:relative;

}